<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List users</title>
</head>
<body>

<form action="/users">
    <label for="username">Username:
        <input id="username" name="username" type="text" th:value="${filters.username()}">
    </label>

    <label for="role">Role:
        <select id="role" name="role">
            <option th:each="role: ${roles}"
                    th:text="${role.name()}"
                    th:value="${role.name()}"
                    th:selected="${role.equals(filters.role())}">
            </option>
        </select>
    </label>

    <button type="submit">Search</button>
</form>

<div th:each="user: ${users}">
    <a th:text="|${user.id()}. ${user.username()}|"
       th:href="@{/users/{userId}(userId=${user.id()})}"
    />
</div>
</body>
</html>